<?xml version="1.0" encoding="utf-8"?>
<configuration>
<content-Security-Policy enabled="true">
  <script-src self="true">
    <add source="*.googleapis.com"/>            
  </script-src>
  <connect-src self="true">
    <add source="*.googleapis.com"/>            
  </connect-src>
</content-Security-Policy>

<appSettings file="specialappsettings.config">
</appSettings>
</configuration>